<h2>Beers by Style</h2>

<% Style.all.each do |style| %>
    <h3><%= style.name %>: </h3>
        <ul>
            <% style.beers.each do |beer| %>
                <li><a href="/beers/<%= beer.id %>"><%= beer.name %> - <%= beer.brand %></a><!--<a href="/reviews/new?beer_id=<%= beer.id %>"> |  Write a Review</a>--></li>
            <% end %>
        </ul>
<% end %>
<% if logged_in? %>
<h2><a href="/beers/new">Add a Beer</a></h2>
<% end %>