<h2>Write a Review</h2>
<form action="/reviews" method="POST">

<h3>Beer: <select name="beer_id">
<% if !!@beer %>
    <option value="<%= @beer.id %>" name="review[beer_id]"><%= @beer.name %> - <%= @beer.brand %></option>
    <% Beer.all.each do |beer| %>
        <option value="<%= beer.id %>" name="review[beer_id]"><%= beer.name %> - <%= beer.brand %></option>
    <% end %>
<% else %>
    <option value="none">Select a Beer to Review</option>
    <% Beer.all.each do |beer| %>
        <option value="<%= beer.id %>" name="review[beer_id]"><%= beer.name %> - <%= beer.brand %></option>
    <% end %>
<% end %>
</select></h3>

<p>Or Add a New Beer</p>
<p>Name:<input type="text" id="beer_name" name="beer[name]"></p>
<p>Brand:<input type="text" id="beer_brand" name="beer[brand]"></p>
<p>Style: <select name="style_id">
    <% Style.all.each do |style| %>
        <option value="<%= style.id %>" name="beer[style_id]"><%= style.name %></option>
    <% end %>
</select></p>


#Offer ability to create new beer

<button type="submit">Submit</button>
</form>
