<form action="/reviews/<%= @review.id %>" method="POST">
<input type="hidden" name="_method" value="PATCH">
<h2><%= @review.beer.name %> - <%= @review.beer.brand %></h2>
<h2>Written by: <%= @review.user.name %></h2>
<p>Rating: 
    <select name="review[five_star_rating]">
        <option value="<%= @review.five_star_rating %>"><%= @review.five_star_rating %></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select> Stars</p>
<textarea rows="5" cols="75" name="review[content]"><%= @review.content %></textarea><br>
<button type="submit">Update</button>
</form>
<a href="/reviews/<%= @review.id %>">Cancel</a><br><br>

<a href="/beers"> Beers</a> |
<a href="/reviews">Reviews</a>
