
<h2>Reviews by User</h2>

<% @usersWithReviews = Review.all.map {|r| r.user}.uniq %>
<% @usersWithReviews.each do |user| %>
    <h3><%= user.username %> - <%= user.name %></h3>
    <ul>
    <% user.reviews.each do |review| %>
        <li><a href="/reviews/<%= review.id %>"><%= review.beer.name %> - <%= review.beer.brand %></a></li>
    <% end %>
    </ul>

<% end %>
<h2><a href="/reviews/new">Add a Review</a></h2>
