<h2><%= @review.beer.name %> - <%= @review.beer.brand %></h2>
<h2>Written by: <%= @review.user.name %></h2>
<h2>Rating: <%= @review.five_star_rating %> Stars</h2>
<h2>Content: </h2><%= @review.content %><br>

<% if logged_in? && @review.user == current_user %>
    <a href="/reviews/<%= @review.id %>/edit">Edit Review</a>
    <form method="post" action="/reviews/<%= @review.id %>">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <button type="submit" id="delete">Delete</button>
    </form>
<% end %>